<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Reinicio de contraseña</h3>

            <p class="text-center">Please enter your email address to request a password reset.</p>

            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="form-group">
                <input type="submit" class="btn btn-primary" required (click)="userService.ForgotPassword(passwordResetEmail.value)" value="Reset contraseña">
            </div>
        </div>

        <div class="redirectToLogin">
            <span>¿Ya recordastes? <span class="redirect" routerLink="/sign-in">Iniciar sesión</span></span>
        </div>

    </div>
</div>