<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<ng-template [ngIf]="userService.isLoggedIn != null">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <!--admin -->
    <ng-template [ngIf]="userService.isLoggedIn == 'admin'">
      <a class="navbar-brand" routerLink="/dashboard-admin" href="#">Inicio</a>
    </ng-template>


    <!--cliente -->
    <ng-template [ngIf]="userService.isLoggedIn == 'cliente'">
      <a class="navbar-brand" routerLink="/dashboard-client" href="#">Inicio</a>
    </ng-template>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <!--admin -->
        <ng-template [ngIf]="userService.isLoggedIn == 'admin'">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/crud-cliente" href="#">Clientes </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/crud-usuario" href="">Usuarios</a>
          </li>
        </ng-template>

        <!--Cliente -->
        <ng-template [ngIf]="userService.isLoggedIn == 'cliente'">
          <li class="nav-item">
            <a class="nav-link" routerLink="" href="#">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/historial-compra" href="#">Historial de compra</a>
          </li>
        </ng-template>

      </ul>
      <span  *ngIf="userService.user as u" routerLink="/detalle-cuenta" class="navbar-text">
        {{u.username}}
      </span>
      <a class="nav-link" (click)="userService.SignOut()">
        <span class="navbar-text">
          Cerrar sesión
        </span>
      </a>
    </div>
  </nav>

</ng-template>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>