<div class="container mt-5">
    <div class="header">
        <h2>Articulos</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/arroz.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Libra de arroz</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                            <button class="btn btn-info btn-block">
                                <i class="fas fa-shopping-cart"></i>
                                Agregar al carrito
                            </button>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/frijol.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Libra de frijol</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <button class="btn btn-info btn-block">
                            <i class="fas fa-shopping-cart"></i>
                            Agregar al carrito
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/papel.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Papel higienico</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                            <button class="btn btn-info btn-block">
                                <i class="fas fa-shopping-cart"></i>
                                Agregar al carrito
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-8">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/agua.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Agua cristal</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                            <button class="btn btn-info btn-block">
                                <i class="fas fa-shopping-cart"></i>
                                Agregar al carrito
                            </button>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/pilsener.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pilsener lata</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                            <button class="btn btn-info btn-block">
                                <i class="fas fa-shopping-cart"></i>
                                Agregar al carrito
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>