<div class="container mt-4">
    <h2>Usuarios</h2>
    <div>
    </div>
    <div class="form-group mt-5">
      <label for="">Buscar Usuario</label>
      <input class="form-control w-50" type="text" id="myInput" [(ngModel)]="Bnombre"  placeholder="Nombre real......." title="Type in a name">
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Username</th>
          <th scope="col">Correo</th>
          <th scope="col">Rol</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of listaUsuario | tablaFilter: Bnombre">
          <td>{{u.nombre}}</td>
          <td>{{u.username}}</td>
          <td>{{u.email}}</td>
          <td>{{u.rol}}</td>
          <td>
            <ng-template [ngIf]="u.username != 'admin'">
              <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="seleccionar(u.uid)"
              class="btn btn-warning">Editar</button>
            </ng-template>
            </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="clientDui">User ID:</label>
              <input type="text" disabled [(ngModel)]="u.uid" class="form-control" placeholder="Dui" #userUid="ngModel"
                required>
            </div>
  
            <div class="form-group">
              <label for="">Nombre completo:</label>
              <input type="text" [(ngModel)]="u.nombre" class="form-control" placeholder="Nombre completo"
                #userName="ngModel" required>
            </div>
  
  
  
            <div class="form-group">
              <label for="clientDui">Nombre de usuario:</label>
              <input type="text" class="form-control"  [(ngModel)]="u.username" placeholder="Usuario"
                #userUser="ngModel" required>
            </div>

            <div class="form-group">
              <label for="clientDui">Email:</label>
              <input type="text" class="form-control"  [(ngModel)]="u.email" placeholder="Correo"
                #userEmail="ngModel" required>
            </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" (click)="modificacion()" data-dismiss="modal" class="btn btn-primary">Guardar
              cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
